@media screen and (min-width: 1440px) {
  .container {
    .card {
      padding: 40px;
      border-radius: 48px;

      .star {
        width: 80x;
        height: 80px;

        img {
          width: 30px;
        }
      }
      .title {
        margin-top: 45px;
        font-size: 38px;
      }
      .text {
        margin-top: 12px;
        line-height: 40px;
        font-size: 20px;
      }

      .rating-wrapper {
        .rating-btn {
          width: 80px;
          height: 80px;
          font-size: 35px;

          div {
            transform: translateY(0);
          }
        }
      }
      .submit-btn {
        margin-top: 45px;
      }
    }
  }
}
