@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-weight: 400, 700;
}

body {
  font-family: "Overpass", sans-serif;
  background-color: hsl(216deg, 12%, 8%);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .card {
  background-color: hsl(213deg, 19%, 18%);
  width: 75%;
  max-width: 640px;
  border-radius: 30px;
  padding: 48px;
}
.container .card .star {
  background-color: hsla(216deg, 12%, 54%, 0.2);
  width: fit-content;
  padding: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .card .star img {
  width: 15px;
}
.container .card .title {
  font-size: 40px;
  color: hsl(0deg, 0%, 100%);
  margin-top: 14px;
}
.container .card .text {
  color: hsl(217deg, 12%, 63%);
  font-size: 20px;
  line-height: 20px;
  margin-top: 5px;
}
.container .card .rating-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.container .card .rating-wrapper .rating-btn {
  color: hsl(217deg, 12%, 63%);
  font-size: 28px;
  font-weight: 900;
  background-color: hsla(216deg, 12%, 54%, 0.2);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  padding: 28px;
}
.container .card .rating-wrapper .rating-btn div {
  transform: translateY(5%);
}
.container .card .rating-wrapper .rating-btn:hover {
  background-color: hsl(25deg, 97%, 53%);
  cursor: pointer;
}
.container .card .rating-wrapper .rating-btn:hover div {
  color: hsl(0deg, 0%, 100%);
}
.container .card .rating-wrapper .active {
  background-color: hsl(217deg, 12%, 63%);
}
.container .card .rating-wrapper .active div {
  color: hsl(0deg, 0%, 100%);
}
.container .card .submit-btn {
  background-color: hsl(25deg, 97%, 53%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 20px;
  border-radius: 60px;
}
.container .card .submit-btn div {
  text-transform: uppercase;
  color: hsl(0deg, 0%, 100%);
  font-size: 35px;
  letter-spacing: 2px;
}
.container .card .submit-btn:hover {
  background-color: hsl(0deg, 0%, 100%);
  cursor: pointer;
}
.container .card .submit-btn:hover div {
  color: hsl(25deg, 97%, 53%);
  font-weight: 700;
}
.container .card .card-content-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .card .card-content-2 img {
  width: 220px;
  margin-top: 15px;
  margin-bottom: 2px;
}
.container .card .card-content-2 .text {
  text-align: center;
  margin-bottom: 20px;
}
.container .card .card-content-2 .result {
  background-color: hsla(216deg, 12%, 54%, 0.2);
  padding: 6px 20px;
  border-radius: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.container .card .card-content-2 .result div {
  color: hsl(25deg, 97%, 53%);
  font-size: 21px;
  font-weight: bolder;
}
.container .card .hide {
  display: none;
}

@media screen and (min-width: 1440px) {
  .container .card {
    padding: 40px;
    border-radius: 48px;
  }
  .container .card .star {
    width: 80x;
    height: 80px;
  }
  .container .card .star img {
    width: 30px;
  }
  .container .card .title {
    margin-top: 45px;
    font-size: 38px;
  }
  .container .card .text {
    margin-top: 12px;
    line-height: 40px;
    font-size: 20px;
  }
  .container .card .rating-wrapper .rating-btn {
    width: 80px;
    height: 80px;
    font-size: 35px;
  }
  .container .card .rating-wrapper .rating-btn div {
    transform: translateY(0);
  }
  .container .card .submit-btn {
    margin-top: 45px;
  }
}

/*# sourceMappingURL=style.css.map */
